* {
  box-sizing: border-box;
}

.container22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--Line-color-border-2, #eaedf1);
  border-radius: 4px;
  background: var(--Fill-color-bg-white, #ffffff);
  padding: 15px;
  width: 1377px;
  height: 430px;

  .container21 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    margin-right: -53px;
    padding: 2px 15px;

    .text6 {
      margin: 1px 0px 0px;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-color-text-1, #0c0d0e);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .a {
      flex-shrink: 0;
      padding: 4px 0px 0px;
      width: 178px;
      height: 26px;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-color-text-1, #0c0d0e);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .text4 {
      flex-shrink: 0;
      padding: 0px 20px 0px 0px;
      width: 100px;
      height: 22px;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-color-text-3, #737a87);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .icon3 {
      width: 12px;
      height: 12px;
      overflow: hidden;
    }

    .button {
      display: flex;
      align-items: center;
      border: 1px solid #00000000;
      border-radius: 4px;
      padding: 5px;
    }

    .container {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding: 0px 30px 10px;
    }

    .text2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 4px;

      .icon {
        flex-shrink: 0;
        width: 14px;
        height: 14px;
        overflow: hidden;
      }

      .text {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-color-text-2, #42464e);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .container8 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;

      .container7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding-top: 10px;

        .containerMargin {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 1368px;

          .container4 {
            display: inline-flex;
            flex-grow: 1;
            align-items: flex-start;
            margin-right: -30px;
            margin-left: -30px;

            .text3 {
              flex-shrink: 0;
              padding: 0px 20px 36px 30px;
              width: 238px;
              height: 58px;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-color-text-3, #737a87);
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
            }

            .container3 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding: 0px 30px 10px;

              .container2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding-top: 4px;
                width: 178px;

                .text5 {
                  flex-shrink: 0;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Text-color-text-1, #0c0d0e);
                  font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 13px;
                }

                .icon2 {
                  flex-shrink: 0;
                  width: 13px;
                  height: 13px;
                  overflow: hidden;
                }
              }
            }
          }
        }

        .containerMargin2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 1368px;

          .container6 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: -30px;
            padding: 0px 30px 10px;
            width: 1428px;

            .container5 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              margin-right: 1190px;
              padding-top: 4px;
              padding-right: 106px;
              min-width: 178px;
            }
          }
        }
      }
    }

    .container11 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-top: 20px;

      .container10 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        padding-top: 10px;
        width: 1368px;

        .container9 {
          display: flex;
          align-items: flex-start;
          margin-left: -30px;
          width: 1428px;
        }
      }
    }

    .container20 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-top: 20px;

      .container19 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        padding-top: 10px;
        width: 1368px;

        .container18 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          margin-right: -30px;
          margin-left: -30px;
          padding-right: 476px;
          width: 1428px;
          min-width: 1428px;

          .container13 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 30px 10px;

            .container12 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 178px;

              .containerMargin3 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: flex-start;
                padding-top: 4px;

                .text7 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: flex-start;
                  border: 1px solid #00000000;
                  border-radius: 4px;
                  background: #ffece8;
                  padding-right: 8px;
                  padding-left: 8px;
                  width: 32px;
                  overflow: hidden;

                  .p0 {
                    flex-shrink: 0;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: #f53f3f;
                    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                  }
                }
              }

              .button2 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 10px 6px 6px 23px;
              }
            }
          }

          .container15 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 30px 10px;

            .container14 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              padding-top: 4px;
              padding-right: 141px;
              min-width: 178px;
            }
          }

          .container16 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 30px 10px;
          }

          .container17 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 30px 10px;
            min-height: 48px;

            .containerMargin4 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              padding-top: 4px;
              width: 178px;

              .text8 {
                flex-shrink: 0;
                width: 170px;
                line-height: 22px;
                letter-spacing: 0;
                color: var(--Text-color-text-1, #0c0d0e);
                font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
