* {
  box-sizing: border-box;
}

.frame2147239887 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 959px;
  height: 500px;
  row-gap: 12px;

  .frame2036083423 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 8px;
    margin-right: 748px;

    .rectangle34625398 {
      flex-shrink: 0;
      border-radius: 0px 4px 4px 0px;
      background: var(--Primary-Color-primary-6, #1664ff);
      width: 3px;
      height: 16px;
    }

    .text {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0.05px;
      color: var(--Text-color-text-1, #0c0d0e);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .frame4 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    box-shadow: var(--shadow-Border-all, 0px 0px 0px 1px #eaedf1);
    background: var(--Fill-color-bg-white, #ffffff);
    overflow: hidden;

    .text4 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0.04px;
      color: var(--Text-color-text-1, #0c0d0e);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .repeat {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .instance2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 4px;
      border-radius: 4px;
      box-shadow: var(
        --shadow-Assembly-Data-entry-Default,
        0px 0px 0px 1px #dde2e9
      );
      background: var(--Fill-color-bg-white, #ffffff);
      padding: 3px 12px;
      overflow: hidden;

      .text3 {
        display: -webkit-box;
        flex-grow: 1;
        overflow: hidden;
        line-height: 22px;
        letter-spacing: 0.04px;
        color: var(--Text-color-text-3, #737a87);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .frame1410097999 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      align-self: stretch;
      box-shadow: var(--shadow-Border-right, 1px 0px 0px 0px #eaedf1);
      background: var(--Fill-color-bg-white, #ffffff);
      padding-bottom: 4px;
      overflow: hidden;

      .frame2147239884 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;

        .rowLabel {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0.04px;
          color: var(--Text-3, #80858c);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .instance {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 10px 12px 10px 16px;
        min-width: 480px;
        overflow: hidden;

        .text2 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0.04px;
          color: var(--Text-color-text-2, #42464e);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }

        .iconHover {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 12px;
          padding: 4px;
        }
      }

      .searchWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 2px 16px;
        row-gap: 10px;
      }

      .frame2117130912 {
        display: flex;
        align-items: center;
        column-gap: 6px;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 8px 16px 4px;
        width: 480px;

        .siteicon {
          flex-shrink: 0;
          border-radius: 100px;
          width: 12px;
          height: 12px;
          overflow: hidden;
        }
      }

      .instance3 {
        display: flex;
        align-items: center;
        column-gap: 12px;
        border-radius: 4px;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 9px 16px;
        width: 480px;
        overflow: hidden;

        .frame {
          flex-shrink: 0;
          border-radius: 2px;
          width: 14px;
          height: 14px;
          overflow: hidden;
        }
      }

      .instance4 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border-radius: 4px;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 9px 385px 9px 16px;
        min-width: 480px;
        height: 40px;
        overflow: hidden;

        .frame2 {
          border-radius: 2px;
          box-shadow: var(
            --shadow-Assembly-Data-entry-Default,
            0px 0px 0px 1px #dde2e9
          );
          background: var(--Fill-color-bg-white, #ffffff);
          width: 14px;
          height: 14px;
          overflow: hidden;
        }

        .text5 {
          line-height: 22px;
          letter-spacing: 0.04px;
          color: var(--Text-color-text-1, #0c0d0e);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }

      .frame21171309122 {
        display: flex;
        align-items: center;
        column-gap: 6px;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 8px 16px 4px;
        width: 480px;

        .siteicon2 {
          flex-shrink: 0;
          width: 12px;
          height: 12px;
          overflow: hidden;
        }
      }

      .instance5 {
        display: flex;
        align-items: center;
        column-gap: 12px;
        border-radius: 4px;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 9px 16px;
        width: 480px;
        overflow: hidden;

        .frame3 {
          flex-shrink: 0;
          border-radius: 2px;
          box-shadow: var(
            --shadow-Assembly-Data-entry-Default,
            0px 0px 0px 1px #dde2e9
          );
          background: var(--Fill-color-bg-white, #ffffff);
          width: 14px;
          height: 14px;
          overflow: hidden;
        }
      }
    }

    .frame1410098002 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      box-shadow: var(--shadow-Border-left, -1px 0px 0px 0px #eaedf1);
      background: var(--Fill-color-bg-white, #ffffff);
      overflow: hidden;

      .instance6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 10px 12px 10px 16px;
        overflow: hidden;

        .text6 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0.04px;
          color: var(--Text-color-text-1, #0c0d0e);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }

        .iconHover2 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 12px;
          border-radius: 4px;
          padding: 4px;
        }
      }

      .searchWrapper2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 2px 16px;
        row-gap: 10px;
      }

      .layoutBlocksVertical {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;

        .instance7 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-radius: 4px;
          background: var(--Fill-color-bg-white, #ffffff);
          padding: 9px 16px;

          .content {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
          }

          .close {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
