* {
  box-sizing: border-box;
}

.frame11 {
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--Line-color-border-2, #eaedf1);
  border-radius: 4px;
  box-shadow: var(
    --shadow-card-2-dropdown-pop,
    0px 15px 35px -2px #0000000d,
    0px 5px 15px 0px #0000000d
  );
  width: 796px;
  height: 260px;
  overflow: hidden;

  .rowLabel3 {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: 0.04px;
    color: var(--Text-color-text-1, #0c0d0e);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .rowLabel2 {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: 0.04px;
    color: var(--Text-1, #020814);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .autoWrapper {
    position: relative;
    flex-shrink: 0;
    width: 16px;
    height: 16px;

    .down {
      position: absolute;
      top: 0;
      left: -1px;
      width: 16px;
      height: 16px;
      rotate: -90deg;
    }
  }

  .instance {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 4px;
    border: 1px solid #666e7c33;
    border-radius: 4px;
    padding-right: 7px;
    padding-left: 7px;
    height: 18px;
    overflow: hidden;

    .tag1 {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0.04px;
      color: var(--Text-color-text-3, #737a87);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }

  .cascaderTitle {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 10px;
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: var(--Line-color-border-2, #eaedf1);
    background: var(--Fill-color-bg-white, #ffffff);
    padding: 7px 18px 8px;
    height: 28px;

    .rowLabel {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0.04px;
      color: var(--Text-3, #80858c);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }

  .frame1410097985 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--Line-color-border-2, #eaedf1);
    background: var(--Background-color-bg-8, #ffffff);
    overflow: hidden;

    .frame1410097977 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: var(--Fill-color-bg-white, #ffffff);
      padding: 6px;
      row-gap: 4px;

      .frame2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border-radius: 4px;
        background: var(--Background-color-bg-4, #f6f8fa);
        padding-right: 12px;
        padding-left: 12px;
        height: 32px;

        .frame2117130912 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 6px;

          .frame {
            flex-shrink: 0;
            border-radius: 100px;
            width: 16px;
            height: 16px;
            overflow: hidden;
          }
        }
      }

      .frame4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        border-radius: 4px;
        background: var(--Fill-5, #ffffff);
        padding: 5px 12px;

        .frame21171309122 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 6px;

          .frame3 {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .frame1410097987 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--Line-color-border-2, #eaedf1);
    background: var(--Background-color-bg-8, #ffffff);
    overflow: hidden;

    .frame14100979772 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: var(--Fill-color-bg-white, #ffffff);
      padding: 6px;
      row-gap: 4px;

      .frame21171309123 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 6px;
      }

      .frame5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border-radius: 4px;
        background: var(--Background-color-bg-4, #f6f8fa);
        padding-right: 12px;
        padding-left: 12px;
        height: 32px;
      }

      .frame6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        border-radius: 4px;
        background: var(--Fill-5, #ffffff);
        padding: 5px 12px;

        .frame21171309124 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 6px;
        }
      }

      .frame7 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        border-radius: 4px;
        background: var(--Fill-5, #ffffff);
        padding: 5px 12px;
      }

      .frame9 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        border-radius: 4px;
        background: var(--Fill-5, #ffffff);
        padding: 5px 12px;

        .frame21171309125 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 6px;

          .frame8 {
            flex-shrink: 0;
            border-radius: 4px;
            width: 14px;
            height: 14px;
            overflow: hidden;
          }

          .instance2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 4px;
            border: 1px solid #666e7c33;
            border-radius: 4px;
            padding-right: 7px;
            padding-left: 7px;
            height: 18px;
            overflow: hidden;

            .tag12 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0.04px;
              color: var(--Text-color-text-3, #737a87);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .frame1410097986 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--Line-color-border-2, #eaedf1);
    background: var(--Background-color-bg-8, #ffffff);
    overflow: hidden;

    .frame14100979773 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: var(--Fill-color-bg-white, #ffffff);
      padding: 6px;
      row-gap: 4px;

      .frame2117130926 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 6px;
        border-radius: 2px;
        background: var(--Background-color-bg-4, #f6f8fa);
        padding: 5px 12px;

        .rowLabel4 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0.04px;
          color: var(--Primary-Color-primary-6, #1664ff);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }

        .frame10 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;
          border: 1px solid var(--Primary-Color-primary-3, #97bcff);
          border-radius: 4px;
          padding-right: 7px;
          padding-left: 7px;
          height: 18px;
          overflow: hidden;

          .mya {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0.04px;
            color: var(--Primary-Color-primary-6, #1664ff);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .autoWrapper2 {
            position: relative;
            flex-shrink: 0;
            width: 0;
            height: 16px;

            .line448 {
              position: absolute;
              top: 8px;
              left: -8px;
              background: #eaedf1;
              width: 16px;
              height: 1px;
              rotate: 90deg;
            }
          }
        }
      }

      .frame2117130923 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 2px;
        background: var(--Fill-color-bg-white, #ffffff);
        padding: 5px 12px;
      }
    }
  }
}
