* {
  box-sizing: border-box;
}

.frame2147239871 {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  border: 1px solid var(--Line-color-border-2, #eaedf1);
  border-radius: 4px 4px 0px 0px;
  background: var(--Background-color-bg-4, #f6f8fa);
  padding: 4px 15px;
  width: 105px;
  height: 32px;

  .frame2119904466 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;

    .image6 {
      width: 16px;
      height: 16px;
    }
  }

  .text {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: 0.04px;
    color: var(--Text-color-text-2, #42464e);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
}
