* {
  box-sizing: border-box;
}

.frame2147239878 {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  width: 350px;
  height: 24px;

  .text2 {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0.04px;
    color: var(--Text-color-text-3, #737a87);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .instance {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;

    .text {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0.04px;
      color: var(--Text-color-text-2, #42464e);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .line {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 6px 12px 6px 11px;
      overflow: hidden;

      .frame {
        border-radius: 1px;
        background: var(--Fill-color-fill-3, #42464e);
        width: 1px;
        height: 12px;
        rotate: -30deg;
      }
    }
  }

  .text5 {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0.04px;
    color: var(--Text-color-text-3, #737a87);
    font-size: 12px;

    .text3 {
      line-height: 20px;
      letter-spacing: 0.04px;
      color: var(--Text-color-text-3, #737a87);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .text4 {
      line-height: 20px;
      letter-spacing: 0.04px;
      color: var(--Text-color-text-3, #737a87);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
