* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Background-color-bg-4, #f6f8fa);
  width: 200px;
  height: 852px;
  overflow: hidden;

  .frame1410097646 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 12px;
    row-gap: 4px;

    .text {
      flex-shrink: 0;
      padding: 7px 0px 7px 12px;
      width: 176px;
      height: 36px;
      line-height: 22px;
      letter-spacing: 0.04px;
      color: var(--Text-color-text-1, #0c0d0e);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .frame1000003746 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      border-radius: 4px;
      background: #1664ff14;
      padding-left: 12px;
      width: 176px;
      height: 36px;

      .topic {
        flex-shrink: 0;
        width: 100px;
        line-height: 22px;
        letter-spacing: 0.04px;
        color: var(--Primary-Color-primary-6, #1664ff);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  .frame14100976462 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 472px;
    padding-right: 7px;
    width: 200px;
    height: 40px;
    row-gap: 6px;

    .divider {
      flex-shrink: 0;
      width: 199px;
      height: 1px;
    }

    .menuItem {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      border-radius: 2px;
      padding: 5px 5px 5px 26px;
      width: 42px;
      row-gap: 10px;

      .drawerFold {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
      }
    }
  }
}
