* {
  box-sizing: border-box;
}

.instance {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  border-width: 0px 1px;
  border-style: solid;
  border-radius: 4px 4px 0px 0px;
  border-color: var(--Line-color-border-2, #eaedf1);
  box-shadow: inset 0px 2px 0px 0px #006eff;
  background: var(--Fill-color-bg-white, #ffffff);
  padding: 5px 15px;
  width: 183px;
  height: 32px;

  .frame1410098063 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 4px;

    .siteicon {
      flex-shrink: 0;
      border-radius: 100px;
      width: 14px;
      height: 14px;
      overflow: hidden;
    }

    .text {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0.04px;
      color: var(--Primary-Color-primary-6, #1664ff);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 500;
    }
  }

  .icons {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
  }
}
